{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h2>Task List</h2>

    <p>
        <a href="{% url 'task_create' %}">Create New Task</a>
    </p>

    <ul>
        {% for task in object_list %}
            <li>
                <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a> — {{ task.status }}
                <a href="{% url 'task_update' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
</body>
</html>